# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Poetry
poetry.lock

# IDE
.vscode/
.idea/

# Secrets & local config
.env
secrets.toml
*.db

# OS
.DS_Store
Thumbs.db
